# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Upgrad\Trello_quora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
